<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>USER PAGE</title>
<h1>Welcome</h1>
<p th:text="'Your id: ' + ${name}" />
<meta charset="utf-8" />
</head>
<body>
	<h2>Your Domians</h2>
	<table>
		<tbody th:remove="all-but-first">
			<tr th:each="domain : ${domains}">
				<td><a th:text="${domain.subject}"></a></td>


				<td th:each="script : ${scripts}">
					<form th:action="'/script/' + ${domain.subject} + '/' + ${script.name}" method="get">
						<input type="submit" th:value="${script.name}"/>
					</form>
				</td>

			</tr>

		</tbody>
	</table>

	<p>
	<p>Click <a th:href="@{/home}">here</a> to see Home.</p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	</p>
</body>
</html>